body{
    background-color: #F1F5F5;
    font-family: Helvetica;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0;
    height: 25px;
    /*transform: translateX(-50%);*/
    width: 100%;
    max-width: 100%;
    /*right: 5px;*/
    /*overflow-y: auto;*/
    background-color: #323a41;
    border: outset 2px;
    padding-right: 6px;
    padding-left: 4px;
}
.navbar img{
    height: 34px;
    /*margin-top: 4px;*/
}
.navbar img{
    height: 34px;
    /*margin-top: 4px;*/
}
.navbar .icon {
    float: right;
    /*background-color: #C9C19F;*/
    /*font-size: 16px;*/
    margin-top: 1px;
    margin-right: 7px;
    /*padding: 4px 10px;*/
    border: inherit 1px;
    font-family: Inconsolata;
    font-size: 13;
    color: white;
    background-color: transparent;
}

.navbar .searchbar {
    float: right;
    margin-top: 3px;
    margin-right: 4px;
    border: inherit 1px;
    font-family: Inconsolata;
    font-size: 13;
    width: 155px;
    color: white;
    background-color: transparent;

}
.navbar .search_button {
    float: right;
    /*background-color: #C9C19F;*/
    /*font-size: 16px;*/
    margin-top: 1px;
    margin-right: 7px;
    padding: 2px;
    height: 18px;
    width: 18px;
    /*border: outset 1px;*/
    color: black;

}

div#content{
    position: fixed;
    width: 100%;
    max-height: calc(100%-25px);
    left: 0;
    top: 25px;
    padding: 3px 6px;
}

#chat_bar{
    position: absolute;
    right: 20px;
    width: 275px;
    height: 30px;
    bottom: 30px;
    background-color: #3D5A80;
    border: 1px solid black;
    border-radius: 10px 10px 0 0 ;
}
#chat_bar a{
    position: inherit;
    font-size: 14px;
    color: white;
    margin: 7px 0 0 75px;
}


#chat_container{
    width: 300px;
    max-height: calc(100%-200px);
    height: 550px;
    border: solid black 1px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #3D5A80;
    border-radius: 10px;
}
#chat_container > a{
    color: white;
    font-size: 12px;
    float: right;
    margin: 2px 8px;
}
#messages {
    margin: 20px 8px 0 8px;
    /*min-height: 300px;*/
    border: solid black 1px;
    /*min-height: calc(100% - 100px);*/
    height: calc(100% - 100px);
    background-color: #F1F5F5;
    overflow: scroll;
    position: relative;
}
.message {
    margin-left: 5px;
    margin-right: auto;
    margin-top: 5px;
    width: calc(100% - 25px);
    border: 1px solid black;
    padding: 7px;
    border-radius: 5px;
    background-color: #D1EFB5;
}
.message a{
    display: block;
    color: black;
    font-size: 13px
}
.message .author{
    left: 0;
    font-weight: bold;
}
.message .body{
    text-align: right;
    margin-left: 30px;
}


#chat_reply_container{
    /*position: absolute;*/
    /*top: calc(100% - 100px)*/
    padding: 10px;
    width: 100%;
}
#chat_reply_container textarea{
    font-family: Helvetica;
    font-size: 14px;
    float: left;
    width: 235px;
}
#chat_reply_container button{
    display: block;
    position: inherit;
    margin: 20px 0 0 0;
}



