.question_container {
    width: 800px;
    display: block;
    /*margin-left: auto;*/
    margin-right: auto;
}


.score_box{
    float: left;
    text-align: center;
    padding-right: 10px;
}

.question{
    padding-bottom: 25px;
}

.question .body{
    height: 100%;
    bottom:0;
}