<html>
  <head>
    {% block title %}
        {% if title %}
            <title>tobbl - {{ title }}</title>
        {% else %}
             <title>tobbl</title>
        {% endif %}
    {% endblock %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='scripts/socket.io.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='scripts/d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='scripts/base.js') }}"></script>
        <script>
            $(document).ready(function(){
                base_ready()
            })
        </script>
    {% endblock %}
  </head>


  <body>
        <div class="navbar">
            <a href="/"><img src="{{ url_for('static',filename='images/tobbl.png') }}" height="40" ></a>

            {% if current_user.is_authenticated %}
                <button class="icon" onclick="location.href = '/logout'">logout, {{ current_user.username }}</button>
            {% else %}
                <button class="icon" onclick="location.href = '/login'">Login</button>
            {% endif %}

            <input type="image" class="search_button" src="{{ url_for('static',filename='images/search2.png') }}" onclick="search()"></input>
            <input class="searchbar" type="text" id="search" value=""
                   onfocus="if(this.value=='not active'){this.value=''}"
                   onfocusout="if(this.value=='a'){this.value='not active'}">

        </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

  </body>

</html>