{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/media.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/media.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            document_ready()
        })
    </script>
{% endblock %}


{% block content %}
    {{ super() }}
    <svg class="question"></svg>
{% endblock %}