{% extends 'base.html' %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/thread.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/discussion_visualization.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            document_ready()
        })
    </script>
{% endblock %}


{% block content %}
    <svg width="1200" height="800"></svg>
{% endblock %}