{% extends '/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/home.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            document_ready()
        })
    </script>
{% endblock %}

{% block content %}
    <body style='background-color:#FFFFFF'>
        <div class="style6">Follow your favourite topic</div>
        <div class="style1">
            <ul><font class='b1'>Top Social</font>
                <li><a href="/thread/ocean">Ocean</a></li>
                <li><a href="/thread/LGBT">LGBT</a></li>
                <li><a href="/thread/Abuse">Abuse</a></li>
            </ul>
            </div>
        <div class="style2">
             <ul><font class='b1'>Top Political</font>
                 <li><a href="/thread/immigrants">Immigrants</a></li>
                 <li><a href="/thread/Border">Border</a></li>
                 <li><a href="/thread/H1B">H1B</a></li>
             </ul>
        </div>

        <div class="style3">
             <ul><font class='b1'>Top Economic</font>
                 <li><a href="/thread/Tax">Tax</a></li>
                 <li><a href="/thread/Pension">Pension</a></li>
                 <li><a href="/thread/EqualPay">EqualPay</a></li>
             </ul>
        </div>

        <div class="style4">
             <ul><font class='b1'>Others</font>
                 <li><a href="/thread/Terrorism">Terrorism</a></li>
                 <li><a href="/thread/Health">Health Care</a></li>
                 <li><a href="/thread/JobHunting">Job Hunting</a></li>
             </ul>
        </div>
        <br>
        <div class="style5">or raise a <a href="/thread/new">New Issue</a></div>
    </body>
{% endblock %}
