{% extends '/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/home.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            document_ready()
        })
    </script>
{% endblock %}

{% block content %}
    <body style="background-color:#FFFFFF">
    <div class="style6">Follow your favourite topic</div>
    <div class="style1">
        <ul><b class='b1'>Top Social</b>
            <li><a href="/thread/ocean">Ocean</a></li>
            <li><a href="/thread/LGBT">LGBT</a></li>
            <li><a href="/thread/Abuse">Abuse</a></li>
        </ul>
    </div>
    <div class="style2">
        <ul><b class='b1'>Top Political</b>
            <li><a href="/thread/immigrants">Immigrants</a></li>
            <li><a href="/thread/Border">Border</a></li>
            <li><a href="/thread/H1B">H1B</a></li>
        </ul>
    </div>
    <div class="style3">
        <ul><b class='b1'>Top Economic</b>
            <li><a href="/thread/Tax">Tax</a></li>
            <li><a href="/thread/Pension">Pension</a></li>
            <li><a href="/thread/EqualPay">Pay</a></li>
        </ul>
    </div>
    <div class="style4">
        <ul><b class='b1'>Others</b>
            <li><a href="/thread/Terrorism">Terrorism</a></li>
            <li><a href="/thread/Health">Heatlh Care</a></li>
        </ul>
    </div>
    <br>
    <div class="style5">
        or raise a <a href="/thread/new">new issue</a>
    </div>
    </body>
{% endblock %}
