{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/thread.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/thread.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            document_ready()
        })
    </script>
{% endblock %}


{% block content %}
    <div id="meta">
        <h2 id="title">This is a thread</h2>
    </div>

    <div id="posts">
    </div>

    <div id="reply_box">
        <textarea rows="2" cols="100" placeholder="Reply" ></textarea>
        <button id="submit_post" onclick="submit_post()">Post</button>
    </div>

{% endblock %}

